### Python ###
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.pytest_cache/

### Ruff ###
.ruff_cache/
ruff-report.html

### VirtualEnv ###
venv/
.env/
.venv/
env/
ENV/

### IDE ###
.vscode/
.idea/
*.swp
*.swo

### Logs & Databases ###
*.log
*.sqlite
*.db

### Dotenv ###
.env
.env.local
.env.development
.env.test
.env.production

### Uvicorn / UV ###
*.sock
.pytest_cache/
uvicorn.log

### macOS ###
.DS_Store

### Jupyter ###
.ipynb_checkpoints/

### Testing ###
.coverage
htmlcov/

### Markdown ###
templates/
.obsidian/
